:root {
    --primary-color: #003366;
    --secondary-color: #336699;
    --background-color: #f0f2f5;
    --text-color: #333333;
    --border-color: #cccccc;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: var(--primary-color);
    padding: 1rem 0;
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin-top: 2rem;
}

.btn {
    border-radius: 0.25rem;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-control, .form-select {
    border-radius: 0.25rem;
    border-color: var(--border-color);
}

.table {
    border: 1px solid var(--border-color);
}

.form-group {
    margin-bottom: 1.5rem;
}

.table-responsive {
    margin-top: 20px;
}

.btn-group {
    margin-bottom: 20px;
}

.available {
    color: green;
}

.not-available {
    color: red;
}

#proxyCount {
    margin-left: 20px;
    font-weight: bold;
}

.selected-countries {
    margin-top: 10px;
}

.selected-countries .badge {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.remove-country {
    color: white;
    margin-left: 5px;
    text-decoration: none;
}

.remove-country:hover {
    color: #f0f0f0;
    text-decoration: none;
}

.dark-mode {
    --background-color: #333;
    --text-color: #f8f9fa;
    --border-color: #555;
}

.dark-mode .table {
    background-color: #444;
    color: #f8f9fa;
}

.dark-mode .form-control, .dark-mode .form-select {
    background-color: #444;
    color: #f8f9fa;
    border-color: #555;
}
.selected-countries .country-btn {
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.selected-countries .country-btn:hover {
    background-color: var(--secondary-color);
}

.selected-countries .country-btn .remove-country {
    margin-left: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}